@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--tg-bg-color);
  color: var(--tg-text-color);
  font-family: 'Inter', sans-serif;
}
