@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--tg-bg-color);
  color: var(--tg-text-color);
  font-family: 'Inter', sans-serif;
  padding: 2rem;
}

.text {
  color: var(--tg-text-color);
}

.tertiary-bg {
  background-color: var(--tg-button-color);
}

.tertiary-bg-faded {
  background-color: var(--tg-button-color), 0.4;
}

.secondary-bg {
  background-color: var(--tg-secondary-bg-color);
}

.primary-bg {
  background-color: var(--tg-bg-color);
}

button {
  background-color: var(--tg-button-color);
  color: var(--tg-button-text-color)
}

/* project color palatte */
/* telegram user likes green light mode */
/* .color1 {
  color: var(--tg-link-color); green
}
.color2 {
  color: var(--tg-hint-color) 
}
.color3 {
  color: var(--tg-secondary-bg-color)
}
.color4 {
  color: var(--tg-header-bg-color);
}
.color5 {
  color: var(--tg-accent-text-color); green
}
.color6 {
  color: var(--tg-section-bg-color); 
}
.color7 {
  color: var(--tg-section-header-text-color); green
}
.color8 {
  color: var(--tg-subtitle-text-color);
}
.color9 {
  color: var(--tg-destructive-text-color); red
}
.color10 {
  color: var(--tg-section-separator-color)
}
.color11 {
  color: var(--tg-bottom-bar-bg-color);
} */