@import "tailwindcss";

:root {
  --primary-bg: rgb(var(--tg-bg-color));
  --secondary-bg: rgb(var(--tg-secondary-bg-color));
  --tertiary-bg: rgb(var(--tg-button-color));
  --text-color: rgb(var(--tg-text-color));
  --link-color: rgb(var(--tg-link-color));
  --button-color: rgb(var(--tg-button-color));
  --button-text-color: rgb(var(--tg-button-text-color));
  --hint-color: rgb(var(--tg-hint-color));
  --destruction: rgb(var(--tg-destructive-text-color));

  --tertiary-bg-faded: rgba(var(--tg-button-color), 0.2);
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  padding: 2rem;
}

.tertiary-bg {
  background-color: var(--tertiary-bg);
}

.tertiary-bg-faded {
  background-color: var(--tertiary-bg-faded);
}

.secondary-bg {
  background-color: var(--secondary-bg);
}

.primary-bg {
  background-color: var(--primary-bg);
}

.shadow {
  box-shadow: 0 4px 12px var(--tertiary-bg);
}

/* project color palatte */
/* telegram user likes green light mode */
/* .color1 {
  color: var(--tg-link-color); green
}
.color2 {
  color: var(--tg-hint-color) 
}
.color3 {
  color: var(--tg-secondary-bg-color)
}
.color4 {
  color: var(--tg-header-bg-color);
}
.color5 {
  color: var(--tg-accent-text-color); green
}
.color6 {
  color: var(--tg-section-bg-color); 
}
.color7 {
  color: var(--tg-section-header-text-color); green
}
.color8 {
  color: var(--tg-subtitle-text-color);
}
.color9 {
  color: var(--tg-destructive-text-color); red
}
.color10 {
  color: var(--tg-section-separator-color)
}
.color11 {
  color: var(--tg-bottom-bar-bg-color);
} */